body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

h1 {
    margin-bottom: 20px;
}

.game-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    border: 2px solid #000;
    overflow: hidden;
    background-size: cover;
    background-position: right;
}

.foot {
    position: absolute;
    top: 3%;
    left: 0;
    width: 20%;
    height: 4%;
    background: url("img/foot.png") no-repeat;
    filter: drop-shadow(12px 5px 7px rgba(0, 0, 0, 0.7));
    transform: translateY(-50%);
    transition: left 0.1s linear;
    z-index: 1;
    background-size: contain;
}

.hand {
    position: absolute;
    top: 3%;
    width: 13%;
    height: 6%;
    background: url("img/hand.png") no-repeat;
    background-size: contain;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8)) drop-shadow(0 0 20px rgba(255, 255, 255, 0.5));
    transform: translateY(-50%);
    z-index: 0;
}

.stats {
    color: white;
    margin-left: 2%;
    margin-top: 5%;
    font-size: 20px;
    font-weight: bold;
    text-shadow: -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

.message {
    position: absolute;
    left: 10%;
    top: 25%;
    font-size: 40px;
    font-weight: bold;
    color: #4CAF50;
    text-shadow: -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
    z-index: 1000;
}

.flyer {
    background: url("img/flyer.png");
    background-size: 200% 300%; /* 2 колонки, 3 строки */
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: inherit;
    height: 50%;
    transform: translateX(-50%);
    transition: bottom 0.5s ease-in-out;
    animation: flyer-animation 0.6s steps(1) infinite;
    filter: drop-shadow(12px 5px 7px rgba(0, 0, 0, 0.4));
    z-index: 10;
}

#toggleMusic {
    position: absolute;
    right: 0;
    bottom: 0;
    background: unset;
    font-size: 60px;
    border: none;
    z-index: 1000;
}

.base {
    background: url("img/base1.png");
    background-size: 300% 200%; /* 3 столбца (ширина), 2 ряда (высота) */
    position: absolute;
    transition: background-image 0.25s ease-in-out;
    bottom: 10px;
    left: 50%;
    width: inherit;
    height: 60%;
    transform: translateX(-50%);
    animation: base-animation 0.6s steps(1) infinite;
    filter: drop-shadow(12px 5px 7px rgba(0, 0, 0, 0.7));
    z-index: 9;
}

@keyframes flyer-animation {
    0% { /* 1-й кадр */
        background-position: 0 0;
    }
    20% { /* 2-й кадр */
        background-position: 100% 0;
    }
    40% { /* 3-й кадр */
        background-position: 0 50%;
    }
    60% { /* 4-й кадр */
        background-position: 100% 50%;
    }
    80% { /* 5-й кадр */
        background-position: 0 100%;
    }
    100% { /* Возвращаемся к 1-му кадру */
        background-position: 0 0;
    }
}

@keyframes base-animation {
    /* 1-й кадр (левый верхний) */
    0% {
        background-position: 0 0;
    }
    /* 2-й кадр (середина верхнего ряда) */
    16% {
        background-position: 50% 0;
    }
    /* 3-й кадр (правый верхний) */
    32% {
        background-position: 100% 0;
    }
    /* 4-й кадр (левый нижний) */
    48% {
        background-position: 0 100%;
    }
    /* 5-й кадр (середина нижнего ряда) */
    64% {
        background-position: 50% 100%;
    }
    /* 6-й кадр (правый нижний) */
    80% {
        background-position: 100% 100%;
    }
    /* Возвращаемся к 1-му кадру */
    100% {
        background-position: 0 0;
    }
}


@keyframes lift {
    0% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(-20px);
    }
    100% {
        transform: translateX(-50%) translateY(0);
    }
}

#restartButton {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    font-size: 180px;
    cursor: pointer;
    transition: background-color 0.3s;
}